In [1]:
# region Import
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
#plt.style.use("fivethirtyeight")
pd.set_option('display.expand_frame_repr', False)
# endregion

In [2]:
# region Import Data
produkte    = "C:/Users/phan/OneDrive - adesso Group/bofrost/export-Produkte"
tour     = "C:/Users/phan/OneDrive - adesso Group/bofrost/export-Kunden_TourenDaten_50k_DE"
produkte    = pd.read_csv(produkte)
tour     = pd.read_csv(tour, parse_dates=["liefer_dtm"])
# endregion

C:\Users\phan\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (8,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
print(tour.head())
print(tour.info())

   kunden_oid  mitarbeiter_oid  verkaufsgebiet_oid  niederlassung_oid  firmen_land_cd liefer_dtm  auftragswert_btr_eur  bearbeitungs_cd time_stamp tw_bearbeitung_cd tour_dtm
0   500643321         19123570                  10               1021              49 2017-03-20                  73.5                9        NaN               NaN      NaN
1    70235034         12601192                   1               1148              49 2017-03-20                   0.0                1        NaN               NaN      NaN
2   403635924         19122415                  16               1043              49 2017-02-25                   9.9                9        NaN               NaN      NaN
3   732065377         45101055                  10               1152              49 2017-05-06                   3.8                0        NaN               NaN      NaN
4   732065377         45101055                  10               1152              49 2017-05-06                   5.7                9        NaN               NaN      NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2764946 entries, 0 to 2764945
Data columns (total 11 columns):
kunden_oid              int64
mitarbeiter_oid         int64
verkaufsgebiet_oid      int64
niederlassung_oid       int64
firmen_land_cd          int64
liefer_dtm              datetime64[ns]
auftragswert_btr_eur    float64
bearbeitungs_cd         int64
time_stamp              object
tw_bearbeitung_cd       object
tour_dtm                object
dtypes: datetime64[ns](1), float64(1), int64(6), object(3)
memory usage: 232.0+ MB
None