In [1]:
# region Import
import pickle
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import seaborn as sns
import datetime as dt

sns.set()
pd.set_option('display.expand_frame_repr', False)
# endregion

In [2]:
filePickle = 'C:/Users/phan/OneDrive - adesso Group/DataSet/Online Retail.pickle'
with open(file=filePickle, mode='rb') as f:
   df = pickle.load(f)

In [3]:
df = df[df['Country'] == 'United Kingdom']
df = df[df['Quantity'] > 0]
df = df[['CustomerID', 'InvoiceDate', 'InvoiceNo', 'Quantity', 'UnitPrice']]
df['TotalPrice'] = df['Quantity'] * df['UnitPrice']
PRESENT = dt.datetime(2011, 12, 10)

In [8]:
rfm: pd.DataFrame = df.groupby('CustomerID').agg({
   'InvoiceDate': lambda date: (PRESENT - date.max()).days,
   'InvoiceNo': lambda num: len(num),
   'TotalPrice': lambda price: price.sum()
})

In [9]:
rfm.columns = ['recency', 'frequency', 'monetary']
qua = pd.qcut(x=range(100), q=4, labels=['1', '2', '3', '4'])

In [10]:
rfm['rQuartile'] = pd.qcut(x=rfm['recency'], q=4, labels=['1', '2', '3', '4'])
rfm['fQuartile'] = pd.qcut(x=rfm['frequency'], q=4, labels=['4', '3', '2', '1'])
rfm['mQuartile'] = pd.qcut(x=rfm['monetary'], q=4, labels=['4', '3', '2', '1'])

In [12]:
rfm['rfmScore'] = rfm['rQuartile'].astype('str') + rfm['fQuartile'].astype('str') + rfm['mQuartile'].astype('str')

In [15]:
rfm.sort_values('rfmScore').head()

            recency  frequency  monetary rQuartile fQuartile mQuartile rfmScore
CustomerID
16814.0          14        324   6509.10         1         1         1      111
15214.0           1        110   1661.44         1         1         1      111
17750.0           5        193   1797.57         1         1         1      111
17744.0           3        136   2322.40         1         1         1      111
16839.0           8        266  16594.35         1         1         1      111