In [1]:
# region Import
import pickle
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import seaborn as sns
import datetime as dt

sns.set()
pd.set_option('display.expand_frame_repr', False)
# endregion

# Split Data by Year

In [2]:
filePickle = 'C:/Users/phan/OneDrive - adesso Group/bofrost-data/f_umsatz_pos.pickle'
with open(file=filePickle, mode='rb') as f:
   detail: pd.DataFrame = pickle.load(f)

In [3]:
detail.head()

           liefer_id  kunden_oid liefer_dtm  artikel_oid  menge  position_btr_eur
0   1075|5177980|VSS   415279454 2016-01-04          627      1              4.95
1   1038|9066578|VSS    47744092 2016-01-04         1602      1              7.95
2   1060|6056196|VSS   656180425 2016-01-04         1602      1              7.95
3  1123|10605481|VSS   109003158 2016-01-04         1675      1              4.95
4   1090|8207424|VSS   601004380 2016-01-04         9244      1              7.95

In [7]:
detail2016 = detail[detail['liefer_dtm'].dt.year == 2016]
filePickle = 'C:/Users/phan/OneDrive - adesso Group/bofrost-data/Umsatz nach Jahr geteilt/f_umsatz_pos_2016.pickle'
with open(file=filePickle, mode='wb') as f:
   pickle.dump(detail2016, f, protocol=4)

In [8]:
detail2017 = detail[detail['liefer_dtm'].dt.year == 2017]
filePickle = 'C:/Users/phan/OneDrive - adesso Group/bofrost-data/Umsatz nach Jahr geteilt/f_umsatz_pos_2017.pickle'
with open(file=filePickle, mode='wb') as f:
   pickle.dump(detail2017, f, protocol=4)

In [9]:
detail2018 = detail[detail['liefer_dtm'].dt.year == 2018]
filePickle = 'C:/Users/phan/OneDrive - adesso Group/bofrost-data/Umsatz nach Jahr geteilt/f_umsatz_pos_2018.pickle'
with open(file=filePickle, mode='wb') as f:
   pickle.dump(detail2018, f, protocol=4)

In [10]:
detail2019 = detail[detail['liefer_dtm'].dt.year == 2019]
filePickle = 'C:/Users/phan/OneDrive - adesso Group/bofrost-data/Umsatz nach Jahr geteilt/f_umsatz_pos_2019.pickle'
with open(file=filePickle, mode='wb') as f:
   pickle.dump(detail2019, f, protocol=4)

In [11]:
detail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 295311066 entries, 0 to 295311065
Data columns (total 6 columns):
liefer_id           object
kunden_oid          uint32
liefer_dtm          datetime64[ns]
artikel_oid         uint16
menge               uint16
position_btr_eur    float32
dtypes: datetime64[ns](1), float32(1), object(1), uint16(2), uint32(1)
memory usage: 7.7+ GB

# Working on Detail2016

In [2]:
filePickle = 'C:/Users/phan/OneDrive - adesso Group/bofrost-data/Umsatz nach Jahr geteilt/f_umsatz_pos_2016.pickle'
with open(file=filePickle, mode='rb') as f:
   detail2016: pd.DataFrame = pickle.load(f)

In [4]:
detail2016.head()

           liefer_id  kunden_oid liefer_dtm  artikel_oid  menge  position_btr_eur
0   1075|5177980|VSS   415279454 2016-01-04          627      1              4.95
1   1038|9066578|VSS    47744092 2016-01-04         1602      1              7.95
2   1060|6056196|VSS   656180425 2016-01-04         1602      1              7.95
3  1123|10605481|VSS   109003158 2016-01-04         1675      1              4.95
4   1090|8207424|VSS   601004380 2016-01-04         9244      1              7.95