In [3]:
# region Import
import pickle
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import seaborn as sns
import datetime as dt
import statistics

sns.set()
pd.set_option('display.expand_frame_repr', False)
# endregion

In [2]:
filePickle = 'C:/Users/phan/OneDrive - adesso Group/bofrost-data/F_umsatz_kopf.pickle'
with open(file=filePickle, mode='rb') as f:
   order: pd.DataFrame = pickle.load(f)

In [3]:
order.head()

   kunden_oid          liefer_id liefer_dtm  auftragswert_btr_eur
0   416498839   1063|4247608|VSS 2016-01-04                  0.00
1   642879669   1027|5596321|VSS 2016-01-04                 15.60
2   431596512  1049|10887493|VSS 2016-01-04                  0.00
3   652819689   1032|4292937|VSS 2016-01-04                 25.85
4   415693980   1075|5177632|VSS 2016-01-04                  0.00

In [4]:
order.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118046499 entries, 0 to 118046498
Data columns (total 4 columns):
kunden_oid              uint32
liefer_id               object
liefer_dtm              datetime64[ns]
auftragswert_btr_eur    float32
dtypes: datetime64[ns](1), float32(1), object(1), uint32(1)
memory usage: 2.6+ GB

# Change dtypes

In [24]:
order['kunden_oid'].min()

11

In [25]:
order['kunden_oid'].max()

995003180

In [28]:
order['kunden_oid'] = order['kunden_oid'].astype('uint32')

In [30]:
order.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118046499 entries, 0 to 118046498
Data columns (total 4 columns):
kunden_oid              uint32
liefer_id               object
liefer_dtm              datetime64[ns]
auftragswert_btr_eur    float32
dtypes: datetime64[ns](1), float32(1), object(1), uint32(1)
memory usage: 2.6+ GB

In [31]:
filePickle = 'C:/Users/phan/PycharmProjects/bigquery-dl/order.pickle'
with open(file=filePickle, mode='wb') as f:
   pickle.dump(order, f, protocol=4)

In [10]:
pd.DataFrame(order['liefer_id']).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118046499 entries, 0 to 118046498
Data columns (total 1 columns):
liefer_id    object
dtypes: object(1)
memory usage: 900.6+ MB

In [9]:
pd.DataFrame(order['liefer_id'].str.slice(0, -4)).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118046499 entries, 0 to 118046498
Data columns (total 1 columns):
liefer_id    object
dtypes: object(1)
memory usage: 900.6+ MB

In [16]:
order2016 = order[order['liefer_dtm'].dt.year == 2016]

In [18]:
order2017 = order[order['liefer_dtm'].dt.year == 2017]
order2018 = order[order['liefer_dtm'].dt.year == 2018]
order2019 = order[order['liefer_dtm'].dt.year == 2019]

In [19]:
filePickle = 'C:/Users/phan/OneDrive - adesso Group/bofrost-data/Umsatz nach Jahr geteilt/F_umsatz_kopf_2016.pickle'
with open(file=filePickle, mode='wb') as f:
   pickle.dump(order2016, f, protocol=4)

In [20]:
filePickle = 'C:/Users/phan/OneDrive - adesso Group/bofrost-data/Umsatz nach Jahr geteilt/F_umsatz_kopf_2017.pickle'
with open(file=filePickle, mode='wb') as f:
   pickle.dump(order2017, f, protocol=4)

filePickle = 'C:/Users/phan/OneDrive - adesso Group/bofrost-data/Umsatz nach Jahr geteilt/F_umsatz_kopf_2018.pickle'
with open(file=filePickle, mode='wb') as f:
   pickle.dump(order2018, f, protocol=4)

filePickle = 'C:/Users/phan/OneDrive - adesso Group/bofrost-data/Umsatz nach Jahr geteilt/F_umsatz_kopf_2019.pickle'
with open(file=filePickle, mode='wb') as f:
   pickle.dump(order2019, f, protocol=4)

# Working on 2016

In [2]:
filePickle = 'C:/Users/phan/OneDrive - adesso Group/bofrost-data/Umsatz nach Jahr geteilt/F_umsatz_kopf_2016.pickle'
with open(file=filePickle, mode='rb') as f:
   order2016 = pickle.load(f)
order2016.head()

NameError: name 'pickle' is not defined

In [1]:
order2016.info()

NameError: name 'order2016' is not defined

In [108]:
order2016[order2016['kunden_oid'] == 415693980]

          kunden_oid         liefer_id liefer_dtm  auftragswert_btr_eur
4          415693980  1075|5177632|VSS 2016-01-04              0.000000
403358     415693980  1075|5181844|VSS 2016-01-07             40.349998
2638275    415693980  1075|5194487|VSS 2016-01-27              0.000000
3924946    415693980  1075|5201859|VSS 2016-02-08             39.799999
5708773    415693980  1075|5211954|VSS 2016-02-24              0.000000
8483410    415693980  1075|5226655|VSS 2016-03-17             64.650002
9139628    415693980  1075|5230537|VSS 2016-03-23              0.000000
11815798   415693980  1075|5247609|VSS 2016-04-20              0.000000
13509162   415693980  1075|5258098|VSS 2016-05-06             37.799999
14504038   415693980  1075|5265229|VSS 2016-05-18              0.000000
16328184   415693980  1075|5276172|VSS 2016-06-03              0.000000
19027089   415693980  1075|5292058|VSS 2016-06-29              0.000000
22283697   415693980  1075|5310598|VSS 2016-07-29             89.800003
25269976   415693980  1075|5328406|VSS 2016-08-26             34.549999
28266846   415693980  1075|5345227|VSS 2016-09-23             37.799999
31146431   415693980  1075|5363403|VSS 2016-10-21              0.000000
34175401   415693980  1075|5382020|VSS 2016-11-18             35.849998
37056560   415693980  1075|5399916|VSS 2016-12-12              0.000000

In [109]:
kunden415693980 = order2016[order2016['kunden_oid'] == 415693980]

In [110]:
kunden415693980

          kunden_oid         liefer_id liefer_dtm  auftragswert_btr_eur
4          415693980  1075|5177632|VSS 2016-01-04              0.000000
403358     415693980  1075|5181844|VSS 2016-01-07             40.349998
2638275    415693980  1075|5194487|VSS 2016-01-27              0.000000
3924946    415693980  1075|5201859|VSS 2016-02-08             39.799999
5708773    415693980  1075|5211954|VSS 2016-02-24              0.000000
8483410    415693980  1075|5226655|VSS 2016-03-17             64.650002
9139628    415693980  1075|5230537|VSS 2016-03-23              0.000000
11815798   415693980  1075|5247609|VSS 2016-04-20              0.000000
13509162   415693980  1075|5258098|VSS 2016-05-06             37.799999
14504038   415693980  1075|5265229|VSS 2016-05-18              0.000000
16328184   415693980  1075|5276172|VSS 2016-06-03              0.000000
19027089   415693980  1075|5292058|VSS 2016-06-29              0.000000
22283697   415693980  1075|5310598|VSS 2016-07-29             89.800003
25269976   415693980  1075|5328406|VSS 2016-08-26             34.549999
28266846   415693980  1075|5345227|VSS 2016-09-23             37.799999
31146431   415693980  1075|5363403|VSS 2016-10-21              0.000000
34175401   415693980  1075|5382020|VSS 2016-11-18             35.849998
37056560   415693980  1075|5399916|VSS 2016-12-12              0.000000

In [111]:
kunden415693980 = kunden415693980[kunden415693980['auftragswert_btr_eur'] > 0]

In [112]:
kunden415693980

          kunden_oid         liefer_id liefer_dtm  auftragswert_btr_eur
403358     415693980  1075|5181844|VSS 2016-01-07             40.349998
3924946    415693980  1075|5201859|VSS 2016-02-08             39.799999
8483410    415693980  1075|5226655|VSS 2016-03-17             64.650002
13509162   415693980  1075|5258098|VSS 2016-05-06             37.799999
22283697   415693980  1075|5310598|VSS 2016-07-29             89.800003
25269976   415693980  1075|5328406|VSS 2016-08-26             34.549999
28266846   415693980  1075|5345227|VSS 2016-09-23             37.799999
34175401   415693980  1075|5382020|VSS 2016-11-18             35.849998

In [113]:
kunden415693980.groupby(by='liefer_dtm').agg({
    'auftragswert_btr_eur': lambda wert: sum(wert)
})

            auftragswert_btr_eur
liefer_dtm
2016-01-07             40.349998
2016-02-08             39.799999
2016-03-17             64.650002
2016-05-06             37.799999
2016-07-29             89.800003
2016-08-26             34.549999
2016-09-23             37.799999
2016-11-18             35.849998

In [114]:
kunden415693980 = kunden415693980.drop_duplicates(subset='liefer_dtm', keep='first')
kunden415693980

          kunden_oid         liefer_id liefer_dtm  auftragswert_btr_eur
403358     415693980  1075|5181844|VSS 2016-01-07             40.349998
3924946    415693980  1075|5201859|VSS 2016-02-08             39.799999
8483410    415693980  1075|5226655|VSS 2016-03-17             64.650002
13509162   415693980  1075|5258098|VSS 2016-05-06             37.799999
22283697   415693980  1075|5310598|VSS 2016-07-29             89.800003
25269976   415693980  1075|5328406|VSS 2016-08-26             34.549999
28266846   415693980  1075|5345227|VSS 2016-09-23             37.799999
34175401   415693980  1075|5382020|VSS 2016-11-18             35.849998

In [115]:
shifted = pd.DataFrame(kunden415693980['liefer_dtm'].shift(periods=-1)).rename(columns={'liefer_dtm': 'next_termin'})
shifted

         next_termin
403358    2016-02-08
3924946   2016-03-17
8483410   2016-05-06
13509162  2016-07-29
22283697  2016-08-26
25269976  2016-09-23
28266846  2016-11-18
34175401         NaT

In [117]:
# kunden416498839 = kunden416498839.drop(labels='next_termin', axis='columns')
kunden415693980 = kunden415693980.join(shifted).drop(kunden415693980.tail(1).index)

In [119]:
kunden415693980

          kunden_oid         liefer_id liefer_dtm  auftragswert_btr_eur next_termin
403358     415693980  1075|5181844|VSS 2016-01-07             40.349998  2016-02-08
3924946    415693980  1075|5201859|VSS 2016-02-08             39.799999  2016-03-17
8483410    415693980  1075|5226655|VSS 2016-03-17             64.650002  2016-05-06
13509162   415693980  1075|5258098|VSS 2016-05-06             37.799999  2016-07-29
22283697   415693980  1075|5310598|VSS 2016-07-29             89.800003  2016-08-26
25269976   415693980  1075|5328406|VSS 2016-08-26             34.549999  2016-09-23
28266846   415693980  1075|5345227|VSS 2016-09-23             37.799999  2016-11-18

In [128]:
print(statistics.mean(list((kunden415693980['next_termin'] - kunden415693980['liefer_dtm']).dt.days)))
print(statistics.stdev(list((kunden415693980['next_termin'] - kunden415693980['liefer_dtm']).dt.days)))

45.142857142857146
20.260212004719754

In [69]:
kunden416498839.loc[32702625, 'next_termin'] = dt.datetime(2016, 12, 12)

C:\Users\phan\AppData\Local\Continuum\anaconda3\envs\datascience\lib\site-packages\pandas\core\indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\phan\AppData\Local\Continuum\anaconda3\envs\datascience\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [70]:
kunden416498839

          kunden_oid         liefer_id liefer_dtm  auftragswert_btr_eur next_termin
6170363    416498839  1063|4280228|VSS 2016-02-29             81.449997         NaT
9435772    416498839  1063|4296619|VSS 2016-03-29             43.650002         NaT
18028323   416498839  1063|4343067|VSS 2016-06-20             29.200001         NaT
23912498   416498839  1063|4373771|VSS 2016-08-15              8.950000         NaT
23954736   416498839  1063|4373770|VSS 2016-08-15             45.200001         NaT
29788225   416498839  1063|4404866|VSS 2016-10-10              5.950000         NaT
32702625   416498839  1063|4421268|VSS 2016-11-07             23.400000  2016-12-12

In [17]:
15410832  / 38848348 * 100

39.66920807031485

In [8]:
order2016['liefer_id'].nunique()

38848348

In [25]:
order2016[['niederlassung_id', 'liefer_oid', 'VSS']] = order2016['liefer_id'].str.split('|', expand=True)

In [26]:
order2016.head()

   kunden_oid          liefer_id liefer_dtm  auftragswert_btr_eur niederlassung_id liefer_oid  VSS
0   416498839   1063|4247608|VSS 2016-01-04                  0.00             1063    4247608  VSS
1   642879669   1027|5596321|VSS 2016-01-04                 15.60             1027    5596321  VSS
2   431596512  1049|10887493|VSS 2016-01-04                  0.00             1049   10887493  VSS
3   652819689   1032|4292937|VSS 2016-01-04                 25.85             1032    4292937  VSS
4   415693980   1075|5177632|VSS 2016-01-04                  0.00             1075    5177632  VSS

In [27]:
order2016single = order2016[['niederlassung_id', 'liefer_oid', 'kunden_oid', 'liefer_dtm', 'auftragswert_btr_eur']]

In [28]:
order2016single.head()

  niederlassung_id liefer_oid  kunden_oid liefer_dtm  auftragswert_btr_eur
0             1063    4247608   416498839 2016-01-04                  0.00
1             1027    5596321   642879669 2016-01-04                 15.60
2             1049   10887493   431596512 2016-01-04                  0.00
3             1032    4292937   652819689 2016-01-04                 25.85
4             1075    5177632   415693980 2016-01-04                  0.00

In [32]:
order2016single.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38848348 entries, 0 to 38848347
Data columns (total 5 columns):
niederlassung_id        object
liefer_oid              object
kunden_oid              uint32
liefer_dtm              datetime64[ns]
auftragswert_btr_eur    float32
dtypes: datetime64[ns](1), float32(1), object(2), uint32(1)
memory usage: 1.4+ GB

In [30]:
order2016.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38848348 entries, 0 to 38848347
Data columns (total 7 columns):
kunden_oid              uint32
liefer_id               object
liefer_dtm              datetime64[ns]
auftragswert_btr_eur    float32
niederlassung_id        object
liefer_oid              object
VSS                     object
dtypes: datetime64[ns](1), float32(1), object(4), uint32(1)
memory usage: 2.0+ GB

In [25]:
dupRemoved = order2016[order2016['kunden_oid'] == 495376311].sort_values('liefer_dtm').drop_duplicates('liefer_dtm')
dupRemoved.head()

        kunden_oid         liefer_id liefer_dtm  auftragswert_btr_eur
103293   495376311  1028|7219580|VSS 2016-01-04                  6.45
127225   495376311  1028|7220319|VSS 2016-01-05                  9.95
602323   495376311  1028|7221961|VSS 2016-01-08                  7.90
720925   495376311  1028|7223664|VSS 2016-01-11                 38.75
812066   495376311  1028|7224607|VSS 2016-01-12                  5.95